
  <div class="side-navigation__menu-button">
      <ul class="sidebar-icons">
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="barsIcon fas fa-bars"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link activeNav side-navigation__menu-button" routerLinkActive="active"
          routerLink="/userData"><span id="idOne">I</span><i class="far fa-user"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="far fa-file-alt"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="far fa-clock"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="fas fa-database"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="far fa-calendar-alt"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link side-navigation__menu-button"><i class="fas fa-cog"></i></a>
        </li>
        </ul>
     </div>
